<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include head.ejs -->
    <% include .././partials_admin/head %>
<title>Ltu Lan - Admin</title>
</head>

<body>
    <!-- Header Navbar Start -->
        <!-- Include header.ejs -->
        <% include .././partials_admin/header %>
    <!-- Header Navbar End -->

    <!-- Content Area Start -->
    <div id="mainArticleContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Alle Registreringer
                        </div>
                        <div class="container">
                            <div class="card-block">
                            </div>
                        </div>
                        <div class="card-footer footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Area End -->

    <!-- Footer Start-->
        <!-- Include footer.ejs -->
        <% include .././partials_admin/footer %>
    <!-- Footer End-->
</body>

<!--include script.ejs-->
<% include .././partials_admin/scripts %>



</html>

