<footer class="footer pushthirty navbar-dark bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <span class="text-muted text-center">Langaming - Copyright 2018</span>
            </div>
            <div class="col-md-4">
                <div id="social_media_bar">
                    <a href="https://www.facebook.com/Langamingdk-1795059414135645/" class="social_logo">
                        <img  src="/static/style/img/icons/icon_facebook.png" alt="Facebook Gruppe Link">
                    </a>
                    <a href="https://www.instagram.com/langaming.dk/" class="social_logo">
                        <img  src="/static/style/img/icons/icon_instagram.png" alt="Instagram Link">
                    </a>
                    <a href="#" class="social_logo">
                        <img  src="/static/style/img/icons/icon_youtube.png" alt="Youtube link">
                    </a>
                    <a href="#" class="social_logo">
                        <img  src="/static/style/img/icons/icon_twitter.png" alt="Twitter link">
                    </a>
                    <a href="#" class="social_logo">
                        <img  src="/static/style/img/icons/icon_snapchat.png" alt="Snapchat link">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>