<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include head.ejs -->
    <% include .././partials_admin/head %>
<title>Ltu Lan - Admin</title>
</head>

<body>
    <!-- Header Navbar Start -->
        <!-- Include header.ejs -->
        <% include .././partials_admin/header %>
    <!-- Header Navbar End -->

    <!-- Content Area Start -->
    <div id="mainArticleContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Tilføj udlån
                        </div>
                        <div class="container">
                            <div class="card-block">
                                <form role="form" onsubmit="return postNewLend();">
                                    <label class="form-control-label" for="cable_lend_name">Navn på elev</label>
                                    <input type="text" class="form-control" id="cable_lend_name" name="Navn på elev">
                                
                                    <label class="form-control-label" for="cable_lend_type">Kabel type</label>
                                    <select size="0" class="form-control" id="cable_lend_type"  name="Kabel type"></select>

                                    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="return postNewLend();">Tilføj Udlån</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>

                    <div class="card pushthirty">
                        <div class="card-header">
                            Tilføj Udlåns Type
                        </div>
                        <div class="container">
                            <div class="card-block">
                                <form role="form" onsubmit="return postNewLendType();">
                                    <label class="form-control-label" for="new_lend_name">Navn på type</label>
                                    <input type="text" class="form-control" id="new_lend_name" name="Navn på type">
                                
                                    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="return postNewLendType();">Tilføj Type</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>

                    <div class="card pushthirty">
                        <div class="card-header">
                            Rediger Udlåns Type
                        </div>
                        <div class="container">
                            <div class="card-block">
                                <form role="form" onsubmit="return editLendType();">
                                    <label class="form-control-label" for="edit_lend_type">Kabel type</label>
                                    <select size="0" class="form-control" id="edit_lend_type" name="Kabel type"></select>
                                    
                                    <label class="form-control-label" for="edit_lend_name">Angiv nyt navn</label>
                                    <input type="text" class="form-control" id="edit_lend_name" name="Angiv nyt navn">
                                
                                    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="return editLendType();">Gem Type</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>

                    <div class="card pushthirty">
                        <div class="card-header">
                            Slet Udlåns Type
                        </div>
                        <div class="container">
                            <div class="card-block">
                                <form role="form" onsubmit="return deleteLendType();">
                                    <label class="form-control-label" for="delete_lend_type">Kabel type</label>
                                    <select size="0" class="form-control" id="delete_lend_type" name="Slet type"></select>
                                
                                    <button class="btn btn-lg btn-danger btn-block" type="button" onclick="return deleteLendType();">Slet Type</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            Udlånte kabler
                        </div>
                        <div class="container">
                            <div class="card-block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">Navn</div>
                                        <div class="col-md-3">Lånt</div>
                                        <div class="col-md-3">Tid</div>
                                        <div class="col-md-1">Slet</div>
                                    </div>
                                    <% lend_out.forEach(function(element){ %>

                                        <div class="dropdown-divider"></div>
                                        <div id="content" class="row">
                                            <div class="col-md-4"><%= element.lend_out_student_name %></div>
                                            <div class="col-md-3"><%= element.lend_out_option_name %></div>
                                            <div class="col-md-3"><%= element.lend_out_time %></div>
                                            <div class="col-md-1">
                                                <button class="btn btn-danger" type="button" onclick='return deleteLend("<%= element.lend_out_id %>");'>Slet</button>
                                                
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Area End -->

    <!-- Footer Start-->
        <!-- Include footer.ejs -->
        <% include .././partials_admin/footer %>
    <!-- Footer End-->
</body>

<!--include script.ejs-->
<% include .././partials_admin/scripts %>



</html>

