<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Langaming - API server</title>
</head>
<body>
    <div>
        <h1>All API routes</h1>
        <table style="width:50%">
            <tr>
                <th>Type</th>
                <th>Route Link</th>
                <th>Info</th>
                <th>Public / Private</th>
            </tr>
            <tr>
                <td>Get</td>
                <td><a href="/skoler">/skoler</a></td> 
                <td>Henter alle skoler</a></td> 
                <td>Public</td>
            </tr>
            <tr>
                <td>Get</td>
                <td><a href="/skoler/?">/skoler/skole_navn</a></td>
                <td>Henter Enkelt skole</a></td> 
                <td>Public</td>
            </tr>
            <tr>
                <td>Get</td>
                <td><a href="/events">/events</a></td>
                <td>Henter alle lan events</a></td> 
                <td>Public</td>
            </tr>
        </table>
    </div>
</body>
</html>